.hello-world {
    &-button {
        padding: 25px;
        background-color: rgb(50, 117, 194);
        color: hsl(0, 0%, 100%);
        font-size: 18px;
        outline: none;

        &:focus {
            border: 1px solid rgb(110, 226, 43);
        }
    }

    &-txt {
        font-size: 28px;
        text-transform: capitalize;
    }
}
